.form-logo {
    display: inline-block;
    background-image: url("../../images/sea-battle-logo.png");
    width: 200px;
    height: 200px;
}


.form-container {
    /*position: absolute;*/
    display: inline-block;
    text-align: center;
    margin-left: 40%;
}

.form-container button {
    margin-top: 10px;
}

.form-container .form-element {
    margin-top: 10px;
}

.form-container input {

    height: 17px;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
}

.form-container label {
    margin-left: 20px;
}
