.form-logo {
    display: inline-block;
    background-image: url("../../images/sea-battle-logo.png");
    width: 200px;
    height: 200px;
}


.form-container {
    /*position: absolute;*/
    display: inline-block;
    text-align: center;
    margin-left: 40%;
}

.form-container .form-element {
    margin-top: 10px;
}

.form-container input {

    height: 17px;
    display: block;
    margin-top: 10px;
    width: 100%;
    /*margin: 0;*/
}

.form-container label {
    margin-left: 20px;
}

form .player-play-button {
    height: 30px;
    padding: 0;
    margin: 0;
}

form .errorMessage {
    font-size: 12px;
    color: #ff012e;
    text-align: left;
    /*margin-left: 30px;*/
}

form label {
    /*margin-right: 10px;*/
}
